{
  "presets": [
    "react-app"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "alias": {
          "components": "./src/components",
          "configs": "./src/configs",
          "context": "./src/context",
          "models": "./src/models",
          "pages": "./src/pages",
          "utils": "./src/utils"
        }
      }
    ]
  ]
}